.sidebar {
  display: flex;
  flex-direction: column;
  padding: 30px;
  width: 20%;
  height: 120vh;
  background: linear-gradient(90deg, #00902f 0%, #7cc427 99.69%);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.06);
  color: white;
}
.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar__logo {
  width: 40px;
  height: 40px;
  max-width: 100%;
}

.sidebar-header {
  margin-top: 20px;
}
.sidebar-title {
  color: white;
}
.search-holder {
  margin-top: 20px;
  width: 100%;
}

.sidebar .search {
  width: 80%;
  border: 1px solid gray;
  padding: 7px;
  border-radius: 5px;
}

.employees-holder {
  width: 100%;
  padding: 7px;
  display: flex;
  gap: 10px;
  margin-top: 80px;
  cursor: pointer;
}
.employees-holder:hover, .edit-employees-holder:hover {
  width: 80%;
  background: #A6A6A6;
  border-radius: 5px;
  padding: 8px;

}

.employeeicon {
  width: 11px;
  height: 11px;
  max-width: 100%;
  cursor: pointer;
}

.sidebar__employees {
  margin-top: -3px;
  cursor: pointer;
}
.edit-employees-holder  {
  width: 100%;
  padding: 7px;
  display: flex;
  gap: 10px;
  margin-top: 20px;
  cursor: pointer;
}

.employee__logo {
  width: 14px;
  height: 14px;
  max-width: 100%;
  cursor: pointer;
  filter: grayscale(60%);
  filter: brightness(0.25);
}

