.main-content {
  display: flex;
  flex-direction: column;
  padding: 30px;
  background: white;
  margin-top: 20px;
}
.main-content__searchholder {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.main-content__search {
  background: #ffffff;
  padding: 9px 16px 10px;
  border-radius: 5px;
  border: 1px solid #e7e7e7;
}
.isEmployeeDetails {
  font-size: 13px;
  color: #00902f;
  font-weight: 600;
  border-bottom: 2px solid #00902f;
  padding-bottom: 6px;
}
.notEmployeeDetails {
  font-size: 13px;
  color: #a6a6a6;
  font-weight: 500;
}
.isModifyEmployees {
  font-size: 13px;
  color: #00902f;
  font-weight: 600;
  border-bottom: 2px solid #00902f;
  padding-bottom: 6px;
  margin-left: 20px;
}
.notModifyEmployees {
  font-size: 13px;
  color: #a6a6a6;
  font-weight: 500;
  margin-left: 20px;
}
.filtering-holder {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.filterbydate, .filterbycountry {
  width: 160px;
  padding: 8px;
  border: 1px solid #e7e7e7;
}
.filterbyrole {
  width: 120px;
  padding: 8px;
  border: 1px solid #e7e7e7;
}
.sort-holder {
  display: flex;
  gap: 5px;
}
.sort-label {
  font-size: 12px;
  margin-top: 10px;
  color: black;
}
.sortby-level {
  width: 130px;
  padding: 8px;
  border: 1px solid #e7e7e7;
}
